!!!
= partial 'partials/head'
%body#article
  #about-me
  #container
    #viewport
      #content
        .row
          %article
            %header
              %h1.instapaper_title= current_article.title

            %section.instapaper_body.lh3.fs3= yield
      %aside= partial 'partials/aside-right'
  = partial 'partials/aside-bottom'
