%head
  %title&= '<%= yield %>'
  = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Ubuntu+Mono|Arvo:400,700,400italic,700italic|Oswald|Yanone+Kaffeesatz:300'
  = stylesheet_link_tag 'screen'
  = favicon_tag 'favicon.png'
  = javascript_include_tag 'application'
